body
{
  
  background-color: #FFB2A6;
}
.heading
{
  font-family: 'Roboto-Serif', Courier, monospace;
  font-weight:1000;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(233, 94, 14);
  color:rgb(17, 17, 17);

}
.btn
{
  border: 2px groove goldenrod;
  background-color: rgb(166, 233, 134);
  width: 300px;
  height: 50px;
  border-radius: 20px;
  margin-right: 50px;
  text-transform: capitalize;
  font-family:'Arial', sans-serif;
  font-weight: bolder;
  box-shadow: 4px 4px 5px yellowgreen;
  text-shadow: 2px 2px 2px gray;
  margin-top: 30px;

}
.func
{

 margin-left: 24%;
}
.fcompo
{
  margin-top: 100px;
  display:inline-block;
  border: 4px groove rgb(218, 74, 74);
  box-shadow: 5px 5px 5px rgb(133, 52, 52);
  border-radius: 22px;
  padding: 5px;
  text-align: center;
  background-color: rgb(92, 161, 60);
  color: rgb(8, 8, 8);
  width: 500px;
  margin-left: 30px;
  text-shadow: 2px 2px 2px black;

}
.sec
{
  font-size: 25px;
  color: chartreuse;
}
.cCompo
{
  margin-right: 100px;
  box-shadow: 4px 4px 5px rgb(175, 157, 157);
  float: right;
}
